In [1]:
import pandas as pd

In [2]:
import numpy as np

### 1. Declare input file names.

File needs to be in CSV formate for faster loading.

#### Input 1 = ME2L_W01.CSV
#### Input 2 = ME2L_W02.CSV

Place the 2 input files in the current directory as the script file.

In [3]:
me2l_w01_file = "test/me2l_w01.csv"
me2l_w02_file = "test/me2l_w02.csv"

In [4]:

## Need to revisit this code.
def convert_dtype(x):
    if not x:
        return ''
    try:
        return str(x)   
    except:        
        return ''

me21_w01_columns = {
    'Vendor/supplying plant': 'str',
    'Outline Agreemnt': 'str',
    'Short Text' : 'str',
    'Currency' : 'str',
    'Purchasing Document' : 'str',
    'Delection Indicator' : 'str',
    'Acct Assignment Cat.' : 'str',
    'Req Tracking Number': 'str',
    'Document Date': 'str',
    'Order Quantity': 'float',
    'Net Price': 'float',
    'Net Order Value': 'float',
    'Still to be delivered (qty)': 'float',
    'Still to be delivered (value)': 'float',
    'Still to be invoiced (qty)': 'float',
    'Still to be delivered (val.)': 'str',  
}

### 2. Read input files

If file contains large data sets with alot of columns, reading will take a bit of time.

In [5]:
# Load first input file
df1 = pd.read_csv(me2l_w01_file,parse_dates=True, encoding='ISO-8859-1')
df1.head()

C:\Users\TM36250\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (5,9,12,14) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Vendor/supplying plant,Outline Agreement,Purchasing Document,Short Text,Currency,Deletion Indicator,Acct Assignment Cat.,Req. Tracking Number,Document Date,Order Quantity,Net price,Net Order Value,Still to be delivered (qty),Still to be delivered (value),Still to be invoiced (qty),Still to be invoiced (val.)
0,1105793 TELNETINTL SDN BHD,NaN,4000016678,To supply 27M Skylift for NK2398,MYR,NaN,F,NaN,24/7/2018,1,900.00,900.00,0,0.00,0,0.00
1,1106906 XAIR PULSECOR SDN BHD,NaN,4000016688,"Fabricate, Install & Welding at Site",MYR,NaN,F,NaN,25/7/2018,1,"2,160.00","2,160.00",0,0.00,0,0.00
2,1106906 XAIR PULSECOR SDN BHD,NaN,4000016688,"Fabricate, Install & Welding at Site",MYR,NaN,F,NaN,25/7/2018,1,"5,715.00","5,715.00",0,0.00,0,0.00
3,1106906 XAIR PULSECOR SDN BHD,NaN,4000016688,"Fabricate, Install & Welding at Site",MYR,NaN,F,NaN,25/7/2018,1,"2,340.00","2,340.00",0,0.00,0,0.00
4,1106906 XAIR PULSECOR SDN BHD,NaN,4000016688,"Fabricate, Install & Welding at Site",MYR,NaN,F,NaN,25/7/2018,1,"4,905.00","4,905.00",0,0.00,0,0.00

In [6]:
# Load second input file
df2 = pd.read_csv(me2l_w02_file,parse_dates=True)
df2.head()

,Vendor/supplying plant,Outline Agreement,Purchasing Document,Short Text,Currency,Deletion Indicator,Acct Assignment Cat.,Req. Tracking Number,Document Date,Order Quantity,Net price,Net Order Value,Still to be delivered (qty),Still to be delivered (value),Still to be invoiced (qty),Still to be invoiced (val.)
0,1010058 MEDIDATA SDN. BHD.,NaN,4.800364e+09,High Performance Laptop - HP,MYR,NaN,A,JUNIE,3/1/2020,1.0,"9,050.00","9,050.00",0,0.00,0.0,0.00
1,1010058 MEDIDATA SDN. BHD.,NaN,4.800364e+09,High Performance Laptop - HP,MYR,NaN,A,JUNIE,3/1/2020,1.0,"9,050.00","9,050.00",0,0.00,0.0,0.00
2,1010058 MEDIDATA SDN. BHD.,NaN,4.800364e+09,High Performance Laptop - HP,MYR,NaN,A,JUNIE,3/1/2020,1.0,"9,050.00","9,050.00",0,0.00,0.0,0.00
3,1010058 MEDIDATA SDN. BHD.,NaN,4.800364e+09,High Performance Laptop - HP,MYR,NaN,A,JUNIE,3/1/2020,1.0,"9,050.00","9,050.00",0,0.00,0.0,0.00
4,1010058 MEDIDATA SDN. BHD.,NaN,4.800364e+09,High Performance Laptop - HP,MYR,NaN,A,JUNIE,3/1/2020,1.0,"9,050.00","9,050.00",0,0.00,0.0,0.00

### 3. Extract PO with correct CAPEX Category from ME2L_W02 

Capex Category = (A, N, P, X).
But how to check if the project is deployment,operation related ? Any keyword or vendor as filters ?

In [7]:
capex_w02 = df2[(df2['Acct Assignment Cat.'] == 'A') |
                (df2['Acct Assignment Cat.'] == 'N') |
                (df2['Acct Assignment Cat.'] == 'P') |
                (df2['Acct Assignment Cat.'] == 'X') 
               ]

### 4. Append extraction from ME2L_W02 to ME2L_W01

Data will be pasted at the bottom of ME2L_W01 data set.

In [8]:
df1.append(capex_w02);
# df1.append(capex_w02).tail(5)

### 5. Remove unwanted columns.

This will allow processing of data faster since unwanted data is discarded.Columns removed:
- Deletion Indicator
- Req. Tracking Number

In [9]:
df1.drop(columns=['Deletion Indicator','Req. Tracking Number']);

### 6. Insert 'Vendor Code' and 'Vendor' column at the begining.

Extract Vendor Code info and Vendor Name info from 'Vendor/supplying plant' column.

Once this process done, remove the 'Vendor/supplying plant' column since it is redundant.

In [10]:
new = df1["Vendor/supplying plant"].str.split(" ", n = 1, expand = True) 
df1.insert(0,'Vendor Code', new[0]);
df1.insert(1,'Vendor', new[1]);
df1.drop(columns=['Vendor/supplying plant'])

,Vendor Code,Vendor,Outline Agreement,Purchasing Document,Short Text,Currency,Deletion Indicator,Acct Assignment Cat.,Req. Tracking Number,Document Date,Order Quantity,Net price,Net Order Value,Still to be delivered (qty),Still to be delivered (value),Still to be invoiced (qty),Still to be invoiced (val.)
0,1105793,TELNETINTL SDN BHD,NaN,4000016678,To supply 27M Skylift for NK2398,MYR,NaN,F,NaN,24/7/2018,1,900.00,900.00,0,0.00,0,0.00
1,1106906,XAIR PULSECOR SDN BHD,NaN,4000016688,"Fabricate, Install & Welding at Site",MYR,NaN,F,NaN,25/7/2018,1,"2,160.00","2,160.00",0,0.00,0,0.00
2,1106906,XAIR PULSECOR SDN BHD,NaN,4000016688,"Fabricate, Install & Welding at Site",MYR,NaN,F,NaN,25/7/2018,1,"5,715.00","5,715.00",0,0.00,0,0.00
3,1106906,XAIR PULSECOR SDN BHD,NaN,4000016688,"Fabricate, Install & Welding at Site",MYR,NaN,F,NaN,25/7/2018,1,"2,340.00","2,340.00",0,0.00,0,0.00
4,1106906,XAIR PULSECOR SDN BHD,NaN,4000016688,"Fabricate, Install & Welding at Site",MYR,NaN,F,NaN,25/7/2018,1,"4,905.00","4,905.00",0,0.00,0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277453,1110244,INFORIENT SDN. BHD.,3.400033e+09,4901662348,PROFESSIONALSERVICES,MYR,NaN,N,200001/002,16/12/2020,1,"148,410.06","148,410.06",0,"148,410.06",0,0.00
277454,1110244,INFORIENT SDN. BHD.,3.400033e+09,4901662407,E-SITES MODULE,MYR,NaN,N,200001/001,16/12/2020,1,"465,600.00","465,600.00",0,"465,600.00",0,0.00
277455,1110244,INFORIENT SDN. BHD.,3.400033e+09,4901662458,TRAINING,MYR,NaN,N,200001/005,16/12/2020,1,"34,299.48","34,299.48",0,"34,299.48",0,0.00
277456,1110244,INFORIENT SDN. BHD.,3.400033e+09,4901662491,PROFESSIONALSERVICES,MYR,NaN,N,200001/006,16/12/2020,1,"203,999.12","203,999.12",0,"203,999.12",0,0.00
277457,1110244,INFORIENT SDN. BHD.,3.400033e+09,4901662532,E-SITES MODULE,MYR,NaN,N,200001/003,16/12/2020,1,"504,400.00","504,400.00",0,"504,400.00",0,0.00

### 7. Classify each PO according to CAPEX/OPEX category.

Use values from 'Acc Assignment Cat.' as reference for classification.
- CAPEX (A, N, P, X)
- OPEX (F, K, Blank)

Add a new column called 'Capex/Opex' at the end of the data set.

In [11]:
#Add Capex/Opex Category
df1.loc[ (df1['Acct Assignment Cat.'] == 'A') |
        (df1['Acct Assignment Cat.'] == 'N') |
        (df1['Acct Assignment Cat.'] == 'P') |
        (df1['Acct Assignment Cat.'] == 'X'),'Capex/Opex'] = 'CAPEX'

df1.loc[ (df1['Acct Assignment Cat.'] == 'F') |
        (df1['Acct Assignment Cat.'] == 'K') |
        (df1['Acct Assignment Cat.'] == ''),'Capex/Opex'] = 'OPEX'

### 8. Calculate Aging

Add 2 new columns to input the Aging info:
- 'Aging' = shows aging in number of days
- 'Aging (Months & Days)' = shows aging in number of months and remaining days

In [12]:
import datetime


# df1['Document Date'] = df1['Document Date'].astype(str)

for i in df1.index:
    newDate = datetime.datetime.strptime(df1.at[i,'Document Date'], '%m/%d/%y')
    delta = datetime.datetime.now() - newDate
    df1.at[i, "Aging"] = delta.days
    df1.at[i,'Aging'] = df1.at[i,'Aging'].astype(int) 
#     months = int(df1.at[i,"Aging"]/30)
#     remaining_days = df1.at[i,"Aging"]%30
#     df1.at[i,'Aging (Months & Days)'] = str(months) + ' months ' + str(remaining_days) + ' days'

df1["Aging"] = df1["Aging"].astype(int)

for i in df1.index:
    months = int(df1.at[i,"Aging"]/30)
    remaining_days = df1.at[i,"Aging"]%30
    df1.at[i,'Aging (Months & Days)'] = str(months) + ' months ' + str(remaining_days) + ' days'

ValueError: time data '24/7/2018' does not match format '%m/%d/%y'

### 9. Calculate Aging Category

Classify each PO into the following categories:
- ( <6 Months )
- ( >6 Months )
- ( >18 Months )

Add a new column 'Aging Category' at the end.

In [ ]:
df1.loc[ (df1['Aging'] < 182),'Aging Category'] = '<6 Months'
df1.loc[ (df1['Aging'] > 182) & (df1['Aging'] < 540),'Aging Category'] = '>6 Months'
df1.loc[ (df1['Aging'] > 540),'Aging Category'] = '>18 Months'

### 10. Assign GR status

Status can either be 'Open' or 'Closed' depending on there are still value to be delivered. Use the column 'Still to be delivered (value)' as reference.

In [ ]:
df1['Still to be delivered (value)'] = df1['Still to be delivered (value)'].str.replace(',','')
df1['Still to be delivered (value)'] = df1['Still to be delivered (value)'].astype(float)
df1.loc[ (df1['Still to be delivered (value)'] > 0),'GR Status'] = 'Open'
df1.loc[ (df1['Still to be delivered (value)'] == 0),'GR Status'] = 'Closed'

### 11. Assign GRIR Status
Status can be either 'Open' or 'Closed' depending on value in column 'Still to be invoiced (val.)'

In [ ]:
df1['Still to be invoiced (val.)'] = df1['Still to be invoiced (val.)'].str.replace(',','')
df1['Still to be invoiced (val.)'] = df1['Still to be invoiced (val.)'].astype(float)
df1.loc[ (df1['Still to be invoiced (val.)'] > -0.1) & (df1['Still to be invoiced (val.)'] < 0.1)
        ,'GRIR Status'] = 'Closed'
df1.loc[ (df1['Still to be invoiced (val.)'] < -0.1) | (df1['Still to be invoiced (val.)'] > 0.1)
        ,'GRIR Status'] = 'Open'

### 12. Assign PO Category

In [ ]:
df1.loc[ (df1['GR Status'] == 'Closed') & (df1['GRIR Status'] == 'Closed'),'PO Status'] = 'Closed'
df1.loc[ (df1['GR Status'] == 'Open') | (df1['GRIR Status'] == 'Open'),'PO Status'] = 'Open'

In [ ]:
# df2 = df1.drop(columns=['Outline Agreement']);

In [ ]:
df2.columns

In [ ]:
df1.head()